.logo {
  font-size: var(--size-8);
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  color: var(--color-grey-50);
  text-transform: uppercase;
}
@media (max-width: 786px) {
  .logo {
    font-size: var(--size-5);
  }
}
